.chatOverlay {
    position: fixed;
    top: 0;
    right: -100%;
    width: 500px;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 500;
}

.activeOverlay {
    right: 0;
    animation: slideleft 0.5s ease forwards;
}

@keyframes slideleft {
    from {
        opacity: 0;
        right: -100%;
    }

    to {
        opacity: 1;
        right: 0;
    }
}

.chatOverlay.closingOverlay {
    animation: slideright 0.5s ease forwards;
}

@keyframes slideright {
    from {
        opacity: 1;
        right: 0;
    }

    to {
        opacity: 0;
        right: -100%;
    }
}

.chatBox {
    width: 100%;
    height: 80%;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 -10px 30px rgba(15, 23, 42, 0.25);
    padding: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.75rem;
}

.chatHeader {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid #e5e7eb;
    padding-bottom: 0.5rem;

    h4 {
        color: #000;
    }


}

.closeBtn {
    background: transparent;
    cursor: pointer;
    padding: .2rem;
    border-radius: 9999px;
    color: #717171;
}

.closeBtn:hover {
    background: #f3f4f6;
}

.chatBody {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    flex: 1;
    overflow-y: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.chatWrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: hidden;
}

.chatFooter {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-top: 1px solid #e5e7eb;
    padding-top: 1rem;
}

.chatInput {
    flex: 1;
    padding: 0.5rem 0.75rem;
    border-radius: 10px;
    border: 1px solid #d1d5db;
    font-size: 0.9rem;
}

.chatInput:focus {
    outline: none;
    border-color: var(--accent);
    box-shadow: 0 0 0 1px rgba(91, 108, 255, 0.35);
}

/* .sendBtn {
    padding-inline: 0.9rem;
    white-space: nowrap;
    box-shadow: none;
} */

.sendBtn {
  padding-inline: 1.2rem;
  padding-block: 0.45rem;
  border-radius: 12px;
  background: #007aff;
  color: white;
  border: none;
  font-weight: 500;
  cursor: pointer;
  transition: 0.15s ease;
}

.sendBtn:hover {
  background: #0062cc;
}

.sendBtn:active {
  transform: scale(0.96);
}

.chatText {
    margin: .3rem 0;
    color: black;
}

.leftAlign {
    text-align: left;
}

.rightAlign {
    text-align: right;
}

.subText {
    margin-top: 3px;
    color: #000;;
}