.searchForm {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  padding: 1rem;
  width: 80%;
}

.searchForm>div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 768px) {
  .searchForm>div {
    flex-direction: row;
  }
}

.searchInputWrapper {
  position: relative;
  flex-grow: 1;
}

.search-input-box {
  width: 100%;
  position: relative;
  flex: 1;
}

.searchInput {
  width: -webkit-fill-available;
  padding: 0.75rem 1rem 0.75rem 2.5rem;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.searchInput:focus {
  outline: none;
  border-color: #4f46e5;
  box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.1);
}

.searchIcon {
  position: absolute;
  left: 0.75rem;
  top: 0.875rem;
  height: 1.25rem;
  width: 1.25rem;
  color: #9ca3af;
  stroke-width: 2;
}

.searchSelect {
  padding: 0.75rem 1rem;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  font-size: 1rem;
  background-color: white;
  cursor: pointer;
}

.searchSelect:focus {
  outline: none;
  border-color: #4f46e5;
  box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.1);
}

.searchButton {
  background-color: #4f46e5;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.searchButton:hover {
  background-color: #4338ca;
}

.popularSearches {
  margin-top: 0.5rem;
  text-align: left;
  font-size: 0.875rem;
  color: #6b7280;
}

.popularLabel {
  font-weight: 500;
}

.searched-data {
  height: fit-content;
  max-height: 230px;
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  z-index: 1;
  border: 1px solid rgb(177, 177, 177);
  border-radius: .5rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: .5rem 0;
  overflow-y: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  padding: .5rem;
}

.searched-data li {
  text-align: left;
  padding: .5em;
  list-style-type: circle;
  list-style-position: inside;
  /* margin-left: .5em; */
  cursor: pointer;
  border-radius: .5rem;
}

.searched-data li:hover {
  background-color: #f4f4f4;
}